* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

}

.nav__bar {
  position: fixed;
  width: 100%;
  margin: 0;
}

.nav__container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.nav__container>li>a:hover {
  scale: 1.1;
}

.container__sections__main {
  padding: 2em 0 0 0;
}

main {
  padding-top: 80px;
}